<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop3="http://schemas.microsoft.com/appx/manifest/desktop/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop3 rescap">

	<Identity
	  Name="Rpontin.Winui.AutoPlayApp"
	  Publisher="CN=robsonpontin"
	  Version="1.0.0.0" />

  <Properties>
    <DisplayName>AutoPlayApp</DisplayName>
    <PublisherDisplayName>robsonpontin</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="AutoPlayAppPackage.WAP"
        Description="AutoPlayAppPackage.WAP"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		
		<Extensions>
			<!-- NOTE: this is to launch a packaged WinUI 3 app from command line by just calling "AutoPlayAppCL".
			     The name of the of the alias needs to be different from the "AutoPlayApp.exe".
			     recommended from discussion: https://github.com/microsoft/microsoft-ui-xaml/issues/3367. -->
			<uap5:Extension
				Category="windows.appExecutionAlias"
				EntryPoint="Windows.FullTrustApplication"
				Executable="AutoPlayApp.exe">
				<uap5:AppExecutionAlias>
					<uap5:ExecutionAlias Alias="AutoPlayAppCL.exe" />
				</uap5:AppExecutionAlias>
			</uap5:Extension>

			<!-- NOTE: custom protocol launch defined to listen to "wp-autoplayapp" 
			     requests from the AutoPlayAppConsole.exe CLI tool. -->
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="wp-autoplayapp">
					<uap:DisplayName>Photos Preview (WASDK)</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>

			<!-- NOTE: bring the console/cli app to the package. -->
			<desktop:Extension Category="windows.fullTrustProcess"
							   Executable="AutoPlayAppConsole.exe" />
			
			<!-- NOTE: using AppxManifest extension for registering all AutoPlay handlers, it also guarantees that
				on the uninstalling of the application, the handlers will be properly cleaned up.
				Source: https://learn.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-extensions-->
			<desktop3:Extension Category="windows.autoPlayHandler">
				<desktop3:AutoPlayHandler>
					<desktop3:InvokeAction ActionDisplayName="Import app test" ProviderDisplayName="AutoPlay App Listener">
						<desktop3:Content ContentEvent="ShowPicturesOnArrival" Verb="show" DropTargetHandler="a5402ef8-0beb-427d-ab14-2231593c419c" />
						<desktop3:Content ContentEvent="PlayVideoFilesOnArrival" Verb="play" Parameters="%1" />
						<desktop3:Device DeviceEvent="WPD\ImageSource" HWEventHandler="a5402ef8-0beb-427d-ab14-2231593c419c" InitCmdLine="/autoplay" />
					</desktop3:InvokeAction>
				</desktop3:AutoPlayHandler>
			</desktop3:Extension>
	  </Extensions>
	</Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
