<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="b5e390a8-9ee5-45fe-8f15-68957b8125e1"
    Publisher="CN=robsonpontin"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="b5e390a8-9ee5-45fe-8f15-68957b8125e1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>CsCppApp</DisplayName>
    <PublisherDisplayName>robsonpontin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="CsCppApp"
        Description="CsCppApp"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

	<!-- To host the CsWinRtComponent using the NativeHost.cs with DNNE, you must add this activatable class entry -->
	<Extensions>
		<Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>NativeHostNE.dll</Path>
				<ActivatableClass ActivatableClassId="CsWinRtComponent.Launcher" ThreadingModel="both" />
				<ActivatableClass ActivatableClassId="CsWinRtComponent.CsWinRtComponent_XamlTypeInfo.XamlMetaDataProvider" ThreadingModel="both" />
				<ActivatableClass ActivatableClassId="CsWinRtComponent.MyUserControl" ThreadingModel="both" />
			</InProcessServer>
		</Extension>
	</Extensions>
	
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
