<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="Rpontin.Winui.AutoPlayApp"
    Publisher="CN=robsonpontin"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>AutoPlayApp</DisplayName>
    <PublisherDisplayName>robsonpontin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="AutoPlayApp"
        Description="AutoPlayApp"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

		<Extensions>
			<uap5:Extension
				Category="windows.appExecutionAlias"
				Executable="AutoPlayApp.exe"
				EntryPoint="AutoPlayApp.App">
				<uap5:AppExecutionAlias>
					<uap5:ExecutionAlias Alias="AutoPlayApp.exe" />
				</uap5:AppExecutionAlias>
			</uap5:Extension>
            
			<!-- NOTE: custom protocol launch defined to listen to "wp-autoplayapp" 
			     requests from the AutoPlayAppConsole.exe CLI tool. -->
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="wp-autoplayapp">
					<uap:DisplayName>Photos Preview (WASDK)</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>

		</Extensions>
			
	</Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
